
@model List<Product>

@{
    var thing = new Product();
}
   @Html.Partial("ProductError", thing)


  
    <div class="container">

     

      <div class="row">

        <div class="col-lg-9">

        <h1 class="my-4">Products</h1>

        <div class="list-group">
        @{
          var Product = new Product();
        }

           @Html.Partial("NewProductForm", Product)

        </div>

      

     
         @foreach(var type in Model)
         {
           
         
          

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="@type.product_image" height="150" width="150"></a>
                <div class="card-body">
                  <span class="card-title">
                    <a href="#">@type.product_name</a>
                  </span>
                  <span>(@type.product_quantity left)</span>
                  <p class="card-text">@type.product_description</p>
                </div>
                
              </div>
            </div>

          
          <!-- /.row -->
         }


        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->
    

    </div>
    <!-- /.container -->

   
